@use "fonts/atkinson-hyperlegible-regular";
@use "fonts/atkinson-hyperlegible-bold";
@use "fonts/atkinson-hyperlegible-italic";
@use "fonts/atkinson-hyperlegible-bolditalic";

body {
	--font-default: "Atkinson Hyperlegible";
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

.theme-dark {
	--background-primary: hsl(var(--accent-h), calc(var(--accent-s) * 0.1), 10%);
	--background-secondary: hsl(var(--accent-h), calc(var(--accent-s) * 0.1), 30%);
}

.theme-light {
	--background-primary: hsl(var(--accent-h), calc(var(--accent-s) * 0.1), 85%);
	--background-secondary: hsl(var(--accent-h), calc(var(--accent-s) * 0.1), 95%);
}
